.mat-card{
  max-height: 490px;
}

.mat-form-field{
  width: 100%;
}

.mat-card > .mat-form-field{
  width: 50%;
}

.lucros_toolbar,.lucros_toolbar > .mat-toolbar-row > span{
  background-color: rgb(211, 222, 239);
  margin: auto;
}


.mat-card-actions{
  text-align: center;

  button{
    width: 50%;
    background: rgb(20, 32, 168);
    color: white;
  }

}

.profits{
  max-height: 150px;
  overflow: auto;
}

